<% content_for :title do %><%= @post.title %><% end %>
<% content_for :description do %><%= @post.description %><% end %>

<section class="post <%= @post.slug %>">
  <header>
    <% if @post.draft? %>
      <h3 class="draft">
        This is an unpublished draft &mdash; please keep the URL private.
      </h3>
    <% end %>

    <h2>
      <a href="/<%= @post.slug %>"><%= @post.title %></a>
    </h2>

    <% if @post.date %>
      <time datatime="<%= @post.date.to_s %>">
        <a href="/<%= @post.slug %>">
          <%= @post.date.to_s(:short_ordinal) %>
        </a>
      </time>
    <% end %>

    <% if @post.author %>
      <h3 class="author">
        by <%= @post.author %>
      </h3>
    <% end %>
  </header>

  <div class="body">
    <%== @post.render %>
  </div>
</section>